body{
    font-family: arial,sans-serif;
    background-color:lightgrey;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    background-color:rgba(255,255,255,0.8);
    border-radius: 5px;
    width:320px;
    height:auto;



}
.form-control{
    position:relative;
}
h1{
    text-align: center;

}
label{
    display: block;
    margin-left:5px;

}
input{
    border-radius: 3px;
    display: block;
    width:95%;
    box-sizing: border-box;
    margin-left:5px;
    margin-right:5px;
    margin-bottom: 5px;
    padding:3px;

}
input:focus{
    border-color: blue;
}
button{
    background-color: blue;
    color: white;
    width:95%;
    display:block;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius:5px;
    padding:8px;
    cursor:pointer;
    transition: background-color 0.9;
    box-sizing: border-box;
    margin-left: 5px;
}
button:hover{
    background-color: lightblue;
}
.form-control.error input{
    border-color:red;
}
.form-control.success input{
    border-color:green;
}