body{
    font-family: arial,sans-serif;
    background-color: aliceblue;
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;

}
.container{
    height:auto;
    background-color: lightpink;
    width:300px;
    border:2px solid black;
    border-radius: 3px;

}
.container h1{
    text-align: center;

}
.container input{
    display: block;
    width: 100%;
    border:1px solid black;
    border-radius: 5px;
    /* margin-left:2px; */
    box-sizing:border-box;
    display:inline;
    
}
.container label{
    font-size: 13px;
    color:black;
    display:inline-block;
    
}
button{
    background-color: lightblue;
    color:black;
    display:block;
    width:100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius:5px;
}
.money select{
    display: block;
    width: 100%;
    border:1px solid black;
    border-radius: 5px;
    width: 300px;



}
button:hover{
    background-color:black;
    color: white;
}
.container img{
    width:256px;
    height:256px;
}